* {
  font-family: "Geostar Fill", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #1b0047, #004f5d);
  color: #c3c3c3;
  position: relative;
}
.container {
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock {
  top: 50%;
  background: rgba(0, 221, 255, 0.229);
  backdrop-filter: blur(40px);
  border-radius: 6px;
  font-size: 7rem;
  padding: 50px 0;
}
.hour {
  margin-left: 50px;
}

@media (max-width: 567px) {
  .clock {
    font-size: 2rem;
  }
  .container {
    width: 320px;
    height: 80px;
  }
  }
  .hour {
    margin-left: 40px;
  }

@media (min-width: 568px) and (max-width: 767.9px) {
  .clock {
    font-size: 3rem;
  }
  .container {
    width: 480px;
    height: 120px;
  }
  .hour {
    margin-left: 50px;
  }
}
@media (min-width: 768px) and (max-width: 998.9px) {
  .clock {
    font-size: 4rem;
  }
  .container {
    width: 600px;
    height: 150px;
  }
  .hour {
    margin-left: 50px;
  }
}
@media (min-width: 999px) and (max-width: 1199.9px) {
  .clock {
    font-size: 6rem;
  }
  .container {
    width: 880px;
    height: 220px;
  }
  .hour {
    margin-left: 60px;
  }
}
@media (min-width: 1200px) and (max-width: 1349.9px) {
  .clock {
    font-size: 6rem;
  }
  .container {
    width: 880px;
    height: 220px;
  }
  .hour {
    margin-left: 65px;
  }
}
@media (min-width: 1350px) and (max-width: 1499.9px) {
  .clock {
    font-size: 7rem;
  }
  .container {
    width: 1000px;
    height: 250px;
  }
  .hour {
    margin-left: 57px;
  }
}

@media (min-width: 1500px) and (max-width: 1700.9px) {
  .clock {
    font-size: 7rem;
  }
  .container {
    width: 1000px;
    height: 250px;
  }
  .hour {
    margin-left: 60px;
  }
}

@media (min-width: 1701px) {
  .clock {
    font-size: 7rem;
  }
  .container {
    width: 1000px;
    height: 250px;
  }
  .hour {
    margin-left: 53px;
  }
}